$colorprincipal: greenyellow;
$colorsecundario:green;
$colorhovertext: rgb(152, 168, 152);
$fuenteprincipal: 'Bangers', cursive;
$fuentesecundaria: 'Raleway', sans-serif;
$fuenteterciaria: 'Audiowide', cursive;

body{
    background-image: url(../../images/eeporigdark.jpg);
    background-size: 100%;
}

header{
    background: linear-gradient($colorsecundario, black);
    text-align: center;
    box-shadow: 10px 5px 15px $colorprincipal;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 3s;

        &:hover {
            background: $colorsecundario;
        }
}

.escudoSinTexto{
    display: none;
}

.navbar-brand{
    color: $colorprincipal;
    font-family: 'Audiowide', cursive;
    font-size: 25px;
}

.nav-item{
    padding-left: 20px;
    padding-right: 20px;
    a {
        color: $colorprincipal;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
}

#busquedamenu{
        width: 200px;
        transition: all 2s;
}

#busquedamenu:focus{
    width: 300px;
    color: $colorsecundario;
}

.dropdown-menu .dropdown-item{
    color: $colorsecundario;
}

.navbar-toggler .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28156, 255, 0, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.contenidoPrincipal{
    display: grid;
    grid-template-areas: 
    "novedades  titulo          titulo"
    "novedades  contenidoup     publicidad"
    "novedades  contenidodown   publicidad"
    "footer     footer          footer";
    grid-template-columns: 35vh auto 25vh;
    grid-template-rows: 10vh 300px auto 30vh;
}

#titulo{
    grid-area: titulo;
    font-family: 'Bangers', cursive;
    color: $colorprincipal;
    padding-top: 15px;
    box-shadow: 10px 5px 15px $colorprincipal;
}

.tituloResponsive{
    display: none;
}

#novedades{
    grid-area: novedades;
    color: $colorprincipal;
    font-family: 'Bangers', cursive;
    box-shadow: 10px 5px 15px $colorprincipal;
}

#novedades{

    li {

        a{
            color: $colorprincipal;
            font-family: 'Raleway', sans-serif;
            &:hover {
                color: $colorhovertext;
            }
        }

    }

}

#novedades {

    li{
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

#contenidoup{
    grid-area: contenidoup;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: inset -10px -5px 15px $colorprincipal;
}

#publicidad{
    grid-area: publicidad;
    padding-left: 4%;
    box-shadow: 10px 5px 15px $colorprincipal;
}

#contenidodown{
    grid-area: contenidodown;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    box-shadow: 10px 5px 15px $colorprincipal;
}

.titulo {

    p{
        a{
            font-family: 'Bangers', cursive;
            color: $colorprincipal;
            &:hover {
                color: $colorhovertext;
            }
        }

    }

}

.descripcion{
    color: $colorprincipal;
}

.imagen{
    display: flex;
    justify-content: center;
}

footer{
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: $colorprincipal;
}

.lemaPadillero{
    font-family: 'Bangers', cursive;
    color: $colorprincipal;
}

.enlaces ul li a{
    color: $colorprincipal;
}

/*Pagina TMTs*/

.contenidoPrincipaltmt{
    display: grid;
    grid-template-areas: 
    "ganadorestmt tituloTmt      publicidad"
    "ganadorestmt sectionuptmt   publicidad"
    "ganadorestmt sectiondowntmt publicidad"
    "footer       footer         footer";
    grid-template-columns: 30vh auto 25vh;
    grid-template-rows: 100px 500px 500px 30vh;
}

#tituloTmt{
    grid-area: tituloTmt;
    font-family: 'Bangers', cursive;
    color: $colorprincipal;
    padding-top: 15px;
    box-shadow: 10px 5px 15px $colorprincipal;
}

#ganadoresTmt{
    grid-area: ganadorestmt;
    display: flex;
    flex-direction: column;
    color: $colorprincipal;
    box-shadow: 10px 5px 15px $colorprincipal;
    overflow: hidden;
}

#sectionuptmt{
    grid-area: sectionuptmt;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 10px 0px 15px $colorprincipal;
}

#sectiondowntmt{
    grid-area: sectiondowntmt;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 10px 5px 15px $colorprincipal;
}

#flyer1{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: flyer1;
    padding: 15px;
}

#tabla1{
    grid-area: tabla1;
    color: $colorprincipal;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

#flyer2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: flyer2;
    padding: 15px;
}

#tabla2{
    grid-area: tabla2;
    color: $colorprincipal;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

td{
    padding: 10px;
    border: 1px solid $colorsecundario;
}

/*End p치gina TMTs*/

/*P치gina Novedades*/

.contenidoPrincipalNov{
    display: grid;
    grid-template-areas: 
    "tituloNov      publicidad"
    "tabla1Nov      publicidad"
    "footer         footer";
    grid-template-columns: auto 30vh;
    grid-template-rows: 100px 500px 30vh;
}

#tituloNov{
    grid-area: tituloNov;
    color: $colorprincipal;
    font-family: $fuenteprincipal;
    padding-top: 15px;
    box-shadow: 10px 5px 15px $colorprincipal;
}

#tablaNovedades{
    background: rgba(228, 0, 0, 0);
}

#tabla1Nov{
    grid-area: tabla1Nov;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    box-shadow: 10px 5px 15px $colorprincipal;
    tr{
        background: rgba(0, 0, 0, 0.753);
        td{
            color: $colorprincipal;
            border: none;
            font-size: 19px;
        }
    }
}

.textoNovedades{
    display: flex;
}

/*Fin p치gina Novedades*/

/*Pagina de Jugadores*/

.contenidoPrincipalJug{
    display: grid;
    grid-template-areas: 
    "tituloJug      publicidad"
    "tablaJug       publicidad"
    "footer         footer";
    grid-template-columns: auto 30vh;
    grid-template-rows: 100px auto 30vh;
}

#tituloJug{
    justify-content: space-around;
    grid-area: tituloJug;
    color: $colorprincipal;
    font-family: $fuenteprincipal;
    padding-top: 15px;
    box-shadow: 10px 5px 15px $colorprincipal;
    padding-bottom: 20px;
}

#tablaJug{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around ;
    padding-top: 50px;
    padding-bottom: 75px;
    padding-left: 30px;
    box-shadow: 10px 5px 15px $colorprincipal;
}

.jugador{
    width: 300px;
    height: 400px;
    padding-top: 50px;
    .nombre{
        font-family: $fuentesecundaria;
        color: $colorprincipal;
    }
}

#lucas{
    transition: all 1s;
    &:hover{
        img{
            display: none;
        }
        .nombre{
            display: none;
        }
        background-image: url(../../images/jugadores/l1.png);
    }
}

#sergio{
    transition: all 2s;
    &:hover{
        img{
            display: none;
        }
        .nombre{
            display: none;
        }
        background-image: url(../../images/jugadores/s1.png);
    }
}

#walter{
    transition: all 2s;
    &:hover{
        img{
            display: none;
        }
        .nombre{
            display: none;
        }
        background-image: url(../../images/jugadores/w1.png);
    }
}

#ezequiel{
    transition: all 2s;
    &:hover{
        img{
            display: none;
        }
        .nombre{
            display: none;
        }
        background-image: url(../../images/jugadores/e1.png);
    }
}

#osvaldo{
    transition: all 2s;
    &:hover{
        img{
            display: none;
        }
        .nombre{
            display: none;
        }
        background-image: url(../../images/jugadores/o1.png);
    }
}

#jorge{
    transition: all 2s;
    &:hover{
        img{
            display: none;
        }
        .nombre{
            display: none;
        }
        background-image: url(../../images/jugadores/j1.png);
    }
}

#mariana{
    transition: all 2s;
    &:hover{
        img{
            display: none;
        }
        .nombre{
            display: none;
        }
        background-image: url(../../images/jugadores/m1.png);
    }
}

#emiliana{
    transition: all 2s;
    &:hover{
        img{
            display: none;
        }
        .nombre{
            display: none;
        }
        background-image: url(../../images/jugadores/em1.png);
    }
}

#cesar{
    transition: all 2s;
    &:hover{
        img{
            display: none;
        }
        .nombre{
            display: none;
        }
        background-image: url(../../images/jugadores/c1.png);
    }
}

#alejandro{
    transition: all 2s;
    &:hover{
        img{
            display: none;
        }
        .nombre{
            display: none;
        }
        background-image: url(../../images/jugadores/a1.png);
    }
}

/* End pagina Jugadores */

/*Pagina de Contacto*/

.contenidoPrincipalCont{
    display: grid;
    grid-template-areas: 
    "tituloCon      publicidad"
    "disclaimer     publicidad"
    "formulario     publicidad"
    "footer         footer";
    grid-template-columns: auto 30vh;
    grid-template-rows: auto auto auto 30vh;
}

#tituloCon{
    color: $colorprincipal;
    font-family: $fuenteprincipal;
    padding-top: 15px;
    box-shadow: 10px 5px 15px $colorprincipal;
    padding-bottom: 20px;
}

.formularioDeContacto{
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    box-shadow: 10px 5px 15px $colorprincipal;
    #name{
        width: 300px;
    }
    #surname{
        width: 300px;
    }
    #email{
        width: 300px;
    }
    #phone{
        width: 300px;
    }
    #reason{
        width: 604px;
        height: 304px;
    }
    div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        padding-top: 20px;
        padding: 10px;
    }
}

.disclaimer{
    grid-area: disclaimer;
    font-family: $fuentesecundaria;
    font-size: 25px;
    color: $colorprincipal;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.452);
}

/*End pagina de Contacto*/

@media screen and (max-width: 1590px) {

    .contenidoPrincipal{
        display: grid;
        grid-template-areas: 
        "novedades  titulo"
        "novedades  contenidoup"
        "novedades  contenidodown"
        "publicidad publicidad"
        "footer     footer";
        grid-template-columns: 35vh auto;
        grid-template-rows: 10vh auto auto 30vh 30vh;
    }

    .escudoSinTexto{
        display: block;
    }

    .escudoConTexto{
        display: none;
    }

    #publicidad{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
        box-shadow: inset 0px -5px 15px $colorprincipal;
    }

    #publicidad2{
        display: none;
    }
    
    #publicidad4{
        display: none;
    }

    /*Pagina TMTs*/

    .contenidoPrincipaltmt{
        display: grid;
        grid-template-areas: 
        "ganadorestmt  tituloTmt"
        "ganadorestmt  sectionuptmt"
        "ganadorestmt  sectiondowntmt"
        "publicidad publicidad"
        "footer     footer";
        grid-template-columns: 35vh auto;
        grid-template-rows: 10vh auto auto 30vh 30vh;
    }

    /*End pagina TMTs*/

}

@media screen and (max-width: 1342px) {

    .tituloResponsive{
        display: block;
    }

    .tituloCompleto{
        display: none;
    }
    
}

@media screen and (max-width: 991px) {

    .contenidoPrincipal{
        display: grid;
        grid-template-areas: 
        "titulo"
        "contenidoup"
        "contenidodown"
        "novedades"
        "publicidad"
        "footer";
        grid-template-rows: auto auto auto auto 150px auto;
        grid-template-columns: 100%;
    }

    #publicidad{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    #publicidad1{
        display: none;
    }
    
    #publicidad3{
        display: none;
    }

    #contenidoup{
        box-shadow: inset 0px -5px 15px $colorprincipal;
    }

    /*Pagina TMTs*/

    .contenidoPrincipaltmt{
        display: grid;
        grid-template-areas: 
        "tituloTmt"
        "sectionuptmt"
        "sectiondowntmt"
        "publicidad"
        "footer";
        grid-template-rows: auto auto auto 150px 30vh 30vh;
        grid-template-columns: 100%;
    }

    #ganadoresTmt{
        display: none;
    }

    /*End pagina TMTs*/

    /*P치gina de Novedades*/

    .contenidoPrincipalNov{
        display: grid;
        grid-template-areas: 
        "tituloNov"
        "tabla1Nov"
        "publicidad"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto 20vh auto;
    }

    /*End pagina de novedades*/

    /*Pagina de Jugadores*/

    .contenidoPrincipalJug{
        display: grid;
        grid-template-areas: 
        "tituloJug"
        "tablaJug"
        "publicidad"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto 20vh auto;
    }

    /*End pagina de Jugadores*/

    /*Pagina de Contacto*/

    .contenidoPrincipalCont{
        display: grid;
        grid-template-areas: 
        "tituloCon"
        "disclaimer"
        "formulario"
        "publicidad"
        "footer";
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto 20vh auto;
    }
    /*End pagina de contacto*/
}