*{
    padding: 0;
    margin: 0;
}

#homebody{
    display: grid;
    grid-template-areas:
    "header      header          header          header"
    "novedades   titulo          titulo          titulo"
    "novedades   contenidoup     contenidoup     publicidad"
    "novedades   contenidodown   contenidodown   publicidad"
    "footer      footer          footer          footer";
    grid-template-columns: 40vh 1fr 1fr 25vh;
    grid-template-rows: 18vh auto auto auto 30vh;
    background-image: url(../images/eeporigdark.jpg);
    background-size: 100%;
}

/*.border{
    border: 1px solid red;
}*/

Header{
    display: grid;
    grid-template-areas:
    "escudo ptdm"
    "escudo menu";
    grid-template-columns: 20vh auto;
    grid-template-rows: 75% 25%;
    grid-area: header;
    background: linear-gradient(green, black);
    text-align: center;
    box-shadow: 10px 5px 15px greenyellow;
}


#novedades{
    grid-area: novedades;
    display: flex;
    color: greenyellow;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    box-shadow: 0px 10px 15px;
    border: 1px solid greenyellow;
}

#novedades h2{
    font-family: 'Bangers', cursive;
    font-size: 50px;
    color: greenyellow;
    text-decoration: underline;   
}

#novedades ul li a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding: 10px 5px;
    font-size: 25px;
    color: greenyellow;
}

#novedades ul li{
    padding: 10px 5px;
    text-align: left;
}

#titulo{
    grid-area: titulo;
    padding: 10px;
}

#titulo p{
    font-family: 'Bangers', cursive;
    font-size: 45px;
    color: greenyellow;
    text-align: center;
}

#contenidoup{
    grid-area: contenidoup;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 10px 15px greenyellow;
}

#contenidodown{
    grid-area: contenidodown;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
    box-shadow: 0 10px 15px greenyellow;
}

.downa{
    grid-area: downa;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.downb{
    grid-area: downb;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.downc{
    grid-area: downc;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.titulo a{
    top: 30px;
    font-family: 'Bangers', cursive;
    font-size: 40px;
    color: rgb(106, 255, 0);
    padding-top: 20px;
    text-decoration: none;
}

.leyenda p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    top: 40px;
    color: rgb(106, 255, 0);
    text-align: center;
}

#publicidad{
    grid-area: publicidad;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    padding-left: 15px;
}

#publicidad a{
    display:flex;
    padding: 5px;
    justify-content: center;
}

Footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-area: footer;
    grid-template-areas: 
    "redes direccion mapa enlaces lema";
    color: greenyellow
}

body a img{
    grid-area: escudo;
    padding-left: 10px;
}

body h1{
    grid-area: ptdm;
    font-family: 'Audiowide', cursive;
    font-size: 90px;
    color: rgb(197, 255, 139);
}

.menuoption{
    grid-area: menu;
    display: flex;
    justify-content: space-evenly;
}

.menuoption div a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: greenyellow;
}

.menuoption form input{
    height: 30px;
    width: 300px;
}

.finalestmt{
    grid-area: finalestmt;
}

.inscribite{
    grid-area: inscribite;
}

.redes{
    display: flex;
    align-items: flex-start;
    width: 200px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 60px;
    flex-direction: column;
    align-content: flex-start;
    grid-area: redes;
}

.direccionFisica{
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    grid-area: direccion;
}

ul{
    list-style-type: none;
}

.mapa{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    grid-area: mapa;
    padding: 0 10px;
}


.enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    grid-area: enlaces;
}

.enlaces li a{
    text-decoration: none;
    color: greenyellow;
    padding: 10px;
}

h6{
    font-size: 30px;
}

.lemaPadillero{
    display: flex;
    align-items: center;
    align-content: flex-end;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 45px;
    grid-area: lema;
}

.lemaPadillero p{
    font-size: 30px;
    font-family: 'Bangers', cursive;
}

.lemaPadillero img{
padding-bottom: 20px;
}


/* Pagina de TMTs*/

#tmtsbody{
    display: grid;
    grid-template-areas:
    "header     header      header"
    "ultganad   titulotmt   publicidad"
    "ultganad   conttmt     publicidad"
    "footer     footer      footer";
    grid-template-columns: 35vh auto 23vh;
    grid-template-rows: 18vh 15vh auto 30vh;
    background-image: url(../images/eeporigdark.jpg);
    background-size: 100%;
}

#titulotmt{
    display: flex;
    grid-area: titulotmt;
    font-family: 'Bangers', cursive;
    color: greenyellow;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 15px greenyellow;
}

.ultganad{
    display: flex;
    flex-direction: column;
    grid-area: ultganad;
    padding-top: 20px;
    padding-left: 20px;
    justify-content: space-around;
    align-items: left;
    box-shadow: 10px 10px 15px greenyellow;
}

.ultganad h1{
    font-size: 40px;
}

.ultganad div h1{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: greenyellow;
}

.ultganad div h2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: rgb(112, 186, 112);
}

.conttmt{
    grid-area: conttmt;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-between;
    padding-top: 20px;
    box-shadow: 10px 10px 15px greenyellow;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h1{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: greenyellow;
    padding-top: 10px;
}

.card h2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: rgb(112, 186, 112);
    padding-top: 10px;
}

.card a{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 5px;
}

@media screen and (max-width: 1662px) {
    
    Header{
        grid-template-areas:
        "escudo ptdm"
        "menu   menu";
        grid-template-columns: auto;
        grid-template-rows: 75% 25%;
        grid-area: header;
        background: linear-gradient(green, black);
        text-align: center;
        box-shadow: 10px 5px 15px greenyellow;
    }

    header h1{
       font-size: 70px;
    }

    #titulo p{
        font-size: 40px;
    }

}

@media screen and (max-width: 1112px) {
    /* aplica a Home*/

    #homebody{
        display: grid;
        grid-template-areas:
        "header         header"
        "novedades      titulo"
        "novedades      contenidoup"
        "novedades      contenidodown"
        "publicidad     publicidad"
        "footer         footer";
        grid-template-columns: 40vh auto;
        grid-template-rows: 18vh auto auto auto 20vh 30vh;
    }

    header h1{
        font-size: 35px;
     }

     #publicidad{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
     }

    #publicidad .imagenvanshe{
        display: none;
    }

        /* aplica a TMT*/
     
    #tmtsbody{
        display: grid;
        grid-template-areas:
        "header         header"
        "ultganad       titulotmt"
        "ultganad       conttmt"
        "ultganad       conttmt"
        "publicidad     publicidad"
        "footer         footer";
        grid-template-columns: 30vh auto;
        grid-template-rows: 18vh auto auto auto 20vh 30vh;
    }

}

@media screen and (max-width: 760px) {
    
    #homebody{
        display: grid;
        grid-template-areas:
        "header"
        "titulo"
        "contenidoup"
        "contenidodown"
        "novedades"
        "publicidad"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: 18vh auto auto auto auto 20vh 30vh;
        background-size: 100%;
    }

    header{
        display: grid;
        grid-template-areas:
        "escudo menu";
        grid-template-columns: 10vh auto;
        grid-area: header;
        background: linear-gradient(green, black);
        text-align: center;
        box-shadow: 10px 5px 15px greenyellow;
    }

    header a img{
        opacity: .2;
    }

    header h1{
        display: none;
    }

    .menuoption{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .menuoption form input{
        height: 30px;
        width: 150px;
    }

    #publicidad .logoresponsive2{
        display: none;
    }

    #tmtsbody{
        display: grid;
        grid-template-areas:
        "header"
        "titulotmt"
        "conttmt"
        "ultganad"
        "publicidad"
        "footer";
        grid-template-columns: auto;
        grid-template-rows: 18vh auto auto auto 20vh 30vh;
    }

    .card{
        padding: 50px;
        text-align: center;
    }
    
    .redes{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}

